@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Green-lighter: hsl(148, 38%, 91%);
    --Green-medium: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);

/* Neutral */

    --White: hsl(0, 0%, 100%);
    --Grey-medium: hsl(186, 15%, 59%);
    --Grey-darker: hsl(187, 24%, 22%);
}

body {
    background-color: var(--Green-lighter);
    font-family: "Karla", sans-serif;
}

main {
    background-color: var(--White);
    width: 50%;
    margin: 5% auto;
    padding: 0.5rem 3%;
    border-radius: 10px;
    color: var(--Grey-darker);
}

h1 {
    font-size: 1.5rem;
    padding-top: 1rem;
    font-weight: 700;
}

form {
    font-size: 12px;
    font-weight: 400px;
}

.form-items {
    margin: 1rem 0;
}

.form-items span {
    color: var(--Green-medium);
    margin-left: 5px;
}


.name {
    gap: 1rem;
}


.email-address {
    display: block;
}
input[type = "checkbox"]:focus, textarea:focus {
    border: 1px solid var(--Green-medium);
    outline: 1px solid var(--Green-medium);
}

/* query type */
.radio-input {
    gap: 1rem;
}


#radio {
    accent-color: var(--Green-medium);
}

.radio-option {
    gap: 0.5rem;
}

.radio-option:hover {
    background-color: var(--Green-lighter);
}
.radio-option :checked ~ {
    background-color: var(--Green-lighter);
}

.radio-option.active {
    background-color: var(--Green-lighter); 
  }

/* message */
.message {
    flex-direction: column;
    gap: 10px;
}

.message textarea {
    border: 1px solid var(--Grey-medium);
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 1rem;
    font-size: 12px;
}

/* consent */
.consent {
    gap: 0.5rem;
}
.consent label {
    align-items: center;
}
.consent input [type="checkbox"] :checked:after{
    background: var(--Green-medium);
}
#consent {
    accent-color: var(--Green-medium);
}

/* submit button */
button {
    width: 100%;
    background-color: var(--Green-medium);
    padding: 8px 10px;
    border: 0;
    border-radius: 6px;
    color: var(--White);
    margin-top: 0.5rem;
}


/* general styling */
.input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid var(--Grey-medium);
    border-radius: 5px;
    margin-top: 10px;
    
}


.flex {
    display: flex;
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }