@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Green-lighter: hsl(148, 38%, 91%);
    --Green-medium: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);

/* Neutral */

    --White: hsl(0, 0%, 100%);
    --Grey-medium: hsl(186, 15%, 59%);
    --Grey-darker: hsl(187, 24%, 22%);
}

body {
    background-color: var(--Green-lighter);
    font-family: "Karla", sans-serif;
    margin: 5rem 0;
    overflow-y: hidden;
    height: 100%;
}

main {
    background-color: var(--White);
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem 3%;
    border-radius: 10px;
    color: var(--Grey-darker);
}

h1 {
    font-size: 1.6rem;
    padding-top: 1rem;
    font-weight: 700;
}

form {
    font-weight: 400px;
}

.form-items {
    margin: 0.5rem 0;
    font-size: 15px;
}

.form-items span {
    color: var(--Green-medium);
    margin-left: 5px;
}


.name {
    gap: 1rem;
}


.email-address {
    display: block;
}
input[type = "text"]:focus, textarea:focus {
    border: 1px solid var(--Green-medium);
    outline: 1px solid var(--Green-medium);
}

/* query type */
.radio-input {
    gap: 1rem;
}


#radio {
    accent-color: var(--Green-medium);
}

.radio-option label {
    font-size: 15px;
}

.radio-option {
    gap: 0.5rem;
}

.radio-option:hover {
    background-color: var(--Green-lighter);
}
.radio-option :checked ~ {
    background-color: var(--Green-lighter);
}

.radio-option.active {
    background-color: var(--Green-lighter); 
}

/* message */
.message {
    flex-direction: column;
    gap: 10px;
}

.message textarea {
    border: 1px solid var(--Grey-medium);
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 15px;
}

/* consent */
.consent {
    gap: 0.5rem;

}
.checkbox {
    align-items: center; 
    gap: 0.5rem;
    

}
.consent input [type="checkbox"] :checked:after{
    background: var(--Green-medium);
}
#consent {
    accent-color: var(--Green-medium);
}

/* submit button */
button {
    width: 100%;
    background-color: var(--Green-medium);
    padding: 10px 10px;
    border: 0;
    border-radius: 6px;
    color: var(--White);
    margin-bottom: 1rem ;
}


/* general styling */
.input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid var(--Grey-medium);
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15px;
}


.flex {
    display: flex;
}


.input.error, textarea.error {
    border-color: var(--Red);
}

/* alert */
#alert {
    display: none;
    text-align: center;
    position: absolute;
    top: 50px; /* Adjust as needed */
    right: -100%;
    background-color: var(--Grey-darker);
    color: var(--White);
    font-size: 15px;
    width: 32%;
    margin: 0 auto;
    padding: 10px 5px;
    border-radius: 10px;
    z-index: 1000;
    transition: right 0.5s ease-in-out;

}
#alert p {
    color: var(--Grey-medium);
}

.header {
    justify-content: start;
    gap: 0.5rem;
    font-size: 17px;
    margin-bottom: 10px;
    padding: 0 0 0 1rem ;
}

.header img {
    width: 15px;
}

#alert.show {
    display: block;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
}

  /* Animations to fade the snackbar in and out */
@-webkit-keyframes slidein {
    from {right: -100%; opacity: 0;}
    to {right: 50%; opacity: 1;}
}

@keyframes slidein {
    from {right: -100%; opacity: 0;}
    to {right: 50%; opacity: 1;}
}

@-webkit-keyframes slideout {
    from {right: 50%; opacity: 1;}
    to {right: -100%; opacity: 0;}
}

@keyframes slideout {
    from {right: 50%; opacity: 1;}
    to {right: -100%; opacity: 0;}
}

.attribution { 
    font-size: 15px; 
    text-align: center; 
    margin-top: 7px;
}
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width: 675px) {
body {
    overflow-y: scroll;
    margin: 1rem 0;
}

main {
    width: 90%;
}

.form-items {
    display: block;
}
.radio-input {
    flex-direction: column;
}
textarea {
    height: 10rem;
}
#alert {
    width: 90%;
}
}
